{% extends 'base.html' %}


{% block content %}

<div class="container" align="center">

<!--login form-->
<div class="row justify-content-center">
<div class="row justify-content-center">
<form method="post">
  {% csrf_token %}
    <div class="container rounded" style="background:rgba(155,181,255,0.3)">
  <h2>ברוך הבא למערכת מה הלו"ז!</h2>
  <p align="center">אנא הכנס פרטים</p>
  <div class="form-group row justify-content-center">
    <label for="username" class="col-sm-4 col-form-label"><b>שם משתמש:</b></label>
    <div class="col-sm-6">
      <input type="username" class="form-control" id="username" name="{{form.username.name}}" placeholder="הכנס תעודת זהות">
    </div>
  </div>
  <div class="form-group row justify-content-center">
    <label for="password" class="col-sm-4 col-form-label"><b>סיסמה:</b>	</label>
    <div class="col-sm-6">
      <input type="password" class="form-control" id="password" name="{{form.password.name}}" placeholder="הכנס סיסמה">
    </div>
  </div>
  <div class="form-group row justify-content-right">
    <div class="col-sm-4">
        <input class="form-check-input" type="checkbox" id="gridCheck1"></div>
	<div class="col-sm-4">
        <label class="form-check-label" for="gridCheck1">זכור אותי</label>
    </div>
  </div>
  <div class="form-group row justify-content-center">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-info btn-block">היכנס</button>
    </div>
  </div>
  <div class="form-group row justify-content-center">
    <div class="col-sm-6"></div>
	<div class="col-sm-4">
	  <a href="#">שכחתי סיסמה</a>
    </div>
  </div>
  <div class="form-group row justify-content-center">
      {% if has_errors %}
	    <div class="alert alert-danger row justify-content-center col-sm-8" role="alert">{{ message }}</div>
      {% endif %}
  </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br>
</form>
</div>
</div>
</div>


{% endblock %}