{% extends 'base.html' %}
{% block content %}

   <style type="text/css">
     .card-header{
         background: none;
         outline: none;
     }
     </style>

    <div class="row">
    <div class="col-6">
        <p><h2 class="text-right">שלום {{master_name}}!</h2></p>
    </div>
    <div class="col-6" align="left">
        <a href="{% url 'login' %}" >
                <br><button class="btn btn-primary" name="back">התנתק</button>
        </a>
    </div>
    </div>


    <div class="container" align="right">


      <button type="button" class="btn btn-link" data-toggle="tooltip" data-placement="left" title="ברוך הבא! לשליחת הודעות למורים, יש לכתוב את תוכן ההודעות במקום המיועד וללחוץ על כפתור שלח. להרכבת מערכת יש ללחוץ על כפתור הרכבת מערכת. לצפייה במערכות שעות של הכיתות יש לבחור את הכיתה הרצויה. לניהול אירועים יש לבחור את האפשרות המתאימה בכפתור ניהול אירועים.">מבקר בפעם הראשונה?</button>


<script>
    $(function(){
        var progressed = 1;
        var interval = setInterval(
            function () {
            progressed += 1;
            $("#moving-progress-bar")
                .css("width", progressed + "%")
                .attr("aria-valuenow", progressed)
                .text(progressed + "% משבץ...");
            if (progressed >= 100)
                clearInterval(interval);
        }, 11 * 100);
    });
</script>
<script>
	$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
    {% if 'in_progress' in status %}
    <script>
    function redirect(){
       window.location.href = "done";
    }
    setTimeout(redirect, 11 * 1000 * 10); //2000 is equivalent to 2 seconds
</script>

    {% endif %}

   <div class="row">
    <div class="col-2">
        <form method="post">
            {% csrf_token %}
            <button type="submit" id="btn" name="start_schedule" value="true" class="btn btn-danger">הרכבת מערכת</button>
        </form>
{#        <button id="btn" type="button" class="btn btn-danger">הרכבת מערכת</button>#}
    </div>
    <div class="col-9">
        <form method="post">
			 {% csrf_token %}
			 {{form1.as_p}}
		        <div class="form-group">
		    <legend for="textarea" align="right">הודעה להורים רשום כאן:</legend>
		    <textarea class="form-control" id="textarea" name="textarea" rows="3" style="min-width: 100%;"></textarea>
                    <h1> </h1>
		    <button type="submit" class="btn btn-info" style="padding: padding-top">שלח</button>
		  		</div>
        </form>

 </div>
    <div class="row">
    </div>
        <div class="col-12" align="center">
            <div class="col">
    <div id="accordion">
        {% for item, item_data in data.items %}
            <!--child1 dropdown-->
    	    <div  class="card">
    		    <div class="card-header" id="{{item}}">
    			<h5 class="mb-0">
    				<button class="btn btn-info" data-toggle="collapse" data-target="#{{item}}-info" area-controls="{{item}}-info">
    				{{item}}
    				</button>
    			</h5>
    		    </div>
            </div>
            <div id="{{item}}-info" class="collapse" area-labelledby="{{item}}" data-parent="#accordion">
    			<div class="card-body">
    			  <div class="container-fluid">
			          <div class="row">
		          		   <div class="col-sm-3" style="background-color:lavenderblush;">
			                  {% for all_message in item_data.messages.values %}
                                   {% for message in all_message %}
			                            <div class="alert alert-success alert-dismissible">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
			                                <strong>{{message}}</strong>
			                            </div>
                                   {% endfor %}
                               {% endfor %}
			                  <p>ליצירת קשר עם המורה רותי - 050999000999
			                  בין השעות 19:00-22:00
			                  </p>
		              		</div>
			               <div class="col-sm-8">
			                 <div class="container">
                                {% include "schedule.html" with schedule=item_data.schedule %}
                             </div>

			          	</div>

    			  </div>
    			</div>
    		</div>
        </div>
        {% endfor %}
    </div>
        </div>
    </div>

    </div>
    </div>

    {% if 'in_progress' in status%}
    <div id="progBar" class="progress" style="height: 30px;">
      <div id="moving-progress-bar" class="progress-bar bg-info progress-bar-striped"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" ></div>
    </div>
    {% endif %}
    {% if 'success' in status %}
        <button type="button" class="btn btn-success">השיבוץ בוצע בהצלחה! יש לרענן את העמוד</button>
    {% endif %}
    {% if 'error' in status %}
        <button type="button" class="btn btn-danger">שגיאה בשיבוץ. אנא בדוק את האילוצים ונסה שנית</button>
    {% endif %}
{% endblock %}