{% extends 'base.html' %}
{% block content %}

   <style type="text/css">
     .card-header{
         background: none;
         outline: none;
     }
     </style>

    <div class="row">
    <div class="col-6">
        <p><h2 class="text-right">שלום {{master_name}}!</h2></p>
    </div>
    <div class="col-6" align="left">
        <a href="{% url 'login' %}" >
                <button class="btn btn-primary" name="back">התנתק</button>
        </a>
    </div>
    </div>


    <div class="container" align="right">


      <button type="button" class="btn btn-link" data-toggle="tooltip" data-placement="left" title="ברוך הבא! לשליחת הודעות למורים, יש לכתוב את תוכן ההודעות במקום המיועד וללחוץ על כפתור שלח. להרכבת מערכת יש ללחוץ על כפתור הרכבת מערכת. לצפייה במערכות שעות של הכיתות יש לבחור את הכיתה הרצויה. לניהול אירועים יש לבחור את האפשרות המתאימה בכפתור ניהול אירועים.">מבקר בפעם הראשונה?</button>


<script>
    $(function(){
        var progressed = 1;
        var interval = setInterval(
            function () {
            progressed += 1;
            $("#moving-progress-bar")
                .css("width", progressed + "%")
                .attr("aria-valuenow", progressed)
                .text(progressed + "% משבץ...");
            if (progressed >= 100)
                clearInterval(interval);
        }, 7 * 100);
    });
</script>
<script>
	$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
   <div class="row">
    <div class="col-2">
        <form method="post">
            {% csrf_token %}
            <button type="submit" id="btn" name="start_schedule" value="true" class="btn btn-danger">הרכבת מערכת</button>
        </form>
{#        <button id="btn" type="button" class="btn btn-danger">הרכבת מערכת</button>#}
    </div>
       <div class="col-2">
      <div class="dropdown" align="right">
          <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  ניהול אירועים
  </button>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">הוספת אירוע</a>
    <a class="dropdown-item" href="#">עריכת אירוע</a>
  </div>
      </div>
     </div>
 </div>
    <div class="row">
        <div class="col-4">
        <form>
		        <div class="form-group">
		    <legend for="textarea" align="right">הודעה להורים רשום כאן:</legend>
		    <textarea class="form-control" id="textarea" rows="3" style="min-width: 100%;"></textarea>
                    <h1> </h1>
		    <button type="submit" class="btn btn-info" style="padding: padding-top">שלח</button>
		  		</div>
        </form>
    </div>
        <div class="col-8" align="center">
            <div class="col">
    <div id="accordion">
        {% for item, item_data in data.items %}
            <!--child1 dropdown-->
    	    <div  class="card">
    		    <div class="card-header" id="{{item}}">
    			<h5 class="mb-0">
    				<button class="btn btn-info" data-toggle="collapse" data-target="#{{item}}-info" area-controls="{{item}}-info">
    				{{item}} {{item_data.classroom}}
    				</button>
    			</h5>
    		    </div>
            </div>
            <div id="{{item}}-info" class="collapse" area-labelledby="{{item}}" data-parent="#accordion">
    			<div class="card-body">
    			  <div class="container-fluid">
			          <div class="row">
		          		   <div class="col-sm-4" style="background-color:lavenderblush;">
			                  <div class="alert alert-success">
			                     <strong>יש שיעורי בית במדעים</strong> אפשר לראות אותם <a href="#" class="alert-link">כאן</a>.
			                  </div>
			                  <div class="alert alert-info">
			                     <strong>אנא מלאו אישור הורים לטיול</strong> לשליחת האישור <a href="#" class="alert-link">לחץ כאן</a>.
			                  </div>
			                  <p>ליצירת קשר עם המורה רותי - 050999000999
			                  בין השעות 19:00-22:00
			                  </p>
		              		</div>
			               <div class="col-sm-8" style="background-color:lavender;">
			                 <div class="container">
                                {% include "schedule.html" with schedule=item_data.schedule %}
                             </div>

			          	</div>

    			  </div>
    			</div>
    		</div>
        {% endfor %}
    </div>
    </div>
        </div>
    </div>

    </div>
    </div>

    {% if 'in_progress' in status%}
    <div id="progBar" class="progress" style="height: 30px;">
      <div id="moving-progress-bar" class="progress-bar bg-info progress-bar-striped"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" ></div>
    </div>
    {% endif %}
    {% if 'success' in status %}
        Success
    {% endif %}
    {% if 'error' in status %}
        Error
    {% endif %}
{% endblock %}