{% extends 'base.html' %}
{% block content %}
     <style type="text/css">
     .card-header{
         background: none;
         outline: none;
     }
     </style>
    <div class="row">
    <div class="col-6" align="right">
        <p>
        <h2>שלום {{parent_name}}!</h2>
        </p>
    </div>
        <div class="col-6" align="left">
            <a href="{% url 'login' %}" >
                <button class="btn btn-primary" name="back">התנתק</button>
            </a>
        </div>
    </div>


    <div class="container" align="right">


    <p>בחר את התלמיד בו תרצה לצפות:</p>

   <button type="button" class="btn btn-link" data-toggle="tooltip" data-placement="left" title="ברוך הבא! בחר שם של תלמיד אותו תרצה לראות. בחלון שיפתח יופיעו הודעות כיתתיות מהמורה מימין, ומערכת שעות עדכנית מצד שמאל">מבקר בפעם הראשונה?</button>

<script>
	$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

    <div id="accordion">
        {% for item, item_data in data.items %}
            <!--item1 dropdown-->
    	    <div  class="card">
    		    <div class="card-header" id="{{item}}">
    			<h5 class="mb-0">
    				<button class="btn btn-info" data-toggle="collapse" data-target="#{{item}}-info" area-controls="{{item}}-info">
    				{{item}} {{item_data.classroom}}
    				</button>
    			</h5>
    		    </div>
            </div>
            <div id="{{item}}-info" class="collapse" area-labelledby="{{item}}" data-parent="#accordion">
    			<div class="card-body">
    			  <div class="container-fluid">
			          <div class="row">
		          		   <div class="col-sm-4" style="background-color:lavenderblush;">
			                  <div class="alert alert-success">
			                     <strong>יש שיעורי בית במדעים</strong> אפשר לראות אותם <a href="#" class="alert-link">כאן</a>.
			                  </div>
			                  <div class="alert alert-info">
			                     <strong>אנא מלאו אישור הורים לטיול</strong> לשליחת האישור <a href="#" class="alert-link">לחץ כאן</a>.
			                  </div>
			                  <p>ליצירת קשר עם המורה רותי - 050999000999
			                  בין השעות 19:00-22:00
			                  </p>
		              		</div>
			               <div class="col-sm-8" style="background-color:lavender;">
			                 <div class="container">
                                {% include "schedule.html" with schedule=item_data.schedule %}
                             </div>
			              	</div>

			          	</div>

    			  </div>
    			</div>
    		</div>
        {% endfor %}
    </div>
    </div>
{% endblock %}