{% extends 'base.html' %}
{% block content %}
<div class="container" align="right">

	<p>רשימת ימי הולדת בכיתך:</p>

  <table class="table table-bordered">
    <thead>
      <tr>
		<th>שם:</th>
        <th>יום הולדת:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>רוני לוי</td>

       <td>
			10.12.2012
	  </td>

      <tr>
        <td>ליאור שקד</td>
		<td>
			11.03.2012

		</td>

	  <tr>
		 <td>חן בן יוסף</td>
        <td>
	  	08.02.2012
	  </td>

      <tr>
      <td>שיר כהן</td>
      <td>
	   	01.07.2012

	  </td>

	   <tr>
       <td>טל אבוטבול</td>
       <td>
	  	04.09.2012

	  </td>


	  <tr>
       <td>עפרי מנחם</td>
        <td>
	 	08.08.2012

	  </td>

	  	<tr>
       <td>רועי אסולין</td>
           <td>
		09.02.2012

	  </td>

	  <tr>
       <td>אסף אברג'יל</td>
           <td>
	  	10.02.2012

	  </td>

	   <tr>
       <td>עלמה מילר</td>
       <td>
	 	  	04.10.2012

	  </td>


	  <tr>
       <td>דנית ברוך</td>
        <td>
	 	01.02.2012

	  </td>

	  	<tr>
       <td>תומר אריאלי</td>
           <td>
	  	08.02.2012

	  </td>

	  <tr>
       <td>רעות בודק</td>
           <td>
			 	  	04.10.2012

	  </td>
	   <tr>
	  <td>מאיה רוט</td>
       <td>
	 	 	  	05.12.2012

	  </td>


	  <tr>
       <td>אתי רונן</td>
        <td>
			 	  	09.11.2012

	  </td>

	  	<tr>
       <td>מתן משולם</td>
           <td>
			 	  	01.10.2012

	  </td>

	  <tr>
       <td>אדוה אמיתי</td>
           <td>
			 	  	30.04.2012

	  </td>


    </tbody>
  </table>

   <button type="button" class="btn btn-primary">הדפס</button>

{%  endblock %}