<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
  <title>stu_nams</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>


<div class="container" align="right">

	<p>רשימת תלמידים בכיתך:</p>
	<form action="/action_page.php">

	<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
		<th>שם:</th>
        <th>תעודת זהות:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>רוני לוי</td>

       <td>
		203733645
	  </td>

      <tr>
        <td>ליאור שקד</td>
		<td>
		367394256
		</td>

	  <tr>
		 <td>חן בן יוסף</td>
        <td>
	  309439284
	  </td>

      <tr>
      <td>שיר כהן</td>
      <td>
	  206784953
	  </td>

	   <tr>
       <td>טל אבוטבול</td>
       <td>
	 392596098
	  </td>


	  <tr>
       <td>עפרי מנחם</td>
        <td>
		305282096
	  </td>

	  	<tr>
       <td>רועי אסולין</td>
           <td>
		312289386
	  </td>

	  <tr>
       <td>אסף אברג'יל</td>
           <td>
		302456931
	  </td>

	   <tr>
       <td>עלמה מילר</td>
       <td>
	 392596098
	  </td>


	  <tr>
       <td>דנית ברוך</td>
        <td>
		305282096
	  </td>

	  	<tr>
       <td>תומר אריאלי</td>
           <td>
		312289386
	  </td>

	  <tr>
       <td>רעות בודק</td>
           <td>
		302456931
	  </td>
	   <tr>
	  <td>מאיה רוט</td>
       <td>
	 392596098
	  </td>


	  <tr>
       <td>אתי רונן</td>
        <td>
		305282096
	  </td>

	  	<tr>
       <td>מתן משולם</td>
           <td>
		312289386
	  </td>

	  <tr>
       <td>אדוה אמיתי</td>
           <td>
		302456931
	  </td>


    </tbody>
  </table>

   <button type="submit" class="btn btn-primary">הדפס</button>
  </form>
</div>


</body>
</html>



