{% extends 'base.html' %}
{% block content %}
<p><h2 class="text-center">שלום רותי!</h2></p>
  <div class="container">
    <div class="row">
    <div class="col-4">
    	<div class="container">
        <button type="button" class="btn btn-danger right" >הכנסת אילוץ</button>
        <div class="row">

		        <form>
		        <div class="form-group">
		    <legend for="textarea" align="right">חלון השארת הודעה</legend>
		    <textarea class="form-control" id="textarea" rows="3" style="min-width: 100%;"></textarea>
		    <button type="submit" class="btn btn-info">שלח</button>
		  		</div>
				</form>
		</div>
		<div class="row">
			<div class="container" style="background-color: lavenderblush;">
				<legend for="alertarea" align="right">הודעות קיימות</legend>
					<div class="alert alert-warning alert-dismissible fade show" role="alert" id="alertarea" align="right">
			                     <strong>יש שיעורי בית במדעים</strong> אפשר לראות אותם <a href="#" class="alert-link">כאן</a>.

  						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    						<span aria-hidden="true">&times;</span>
  						</button>
					</div>
						<div class="alert alert-success alert-dismissible fade show" role="alert" id="alertarea" align="right">
			                     <strong>מחר טקס , נא להגיע לבושים בחולצה לבנה.</strong>

  						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    						<span aria-hidden="true">&times;</span>
  						</button>
					</div>

			</div>
		</div>
		</div>

    </div>
    <div class="col-6">
     <div class="googleCalendar">
      	<iframe src="https://calendar.google.com/calendar/embed?title=Put%20your%20Title%20here&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=8d3fc8l9g04n7r9im45fsn08ak%40group.calendar.google.com&amp;color=%238D6F47&amp;ctz=America%2FNew_York" style="border-width:0" width="700" height="600" frameborder="0" scrolling="no"></iframe>
     </div>
    </div>
    <div class="col">

    	<div class="dropdown">
  <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    דוחות
      </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">רשימת תלמידים</a>
    <a class="dropdown-item" href="#">ריכוז אישורים</a>
    <a class="dropdown-item" href="#">רשימת ימי הולדת</a>
    <a class="dropdown-item" href="#">הודעות הנהלה</a>
  </div>
</div>

    </div>
  </div>
</div>
{% endblock %}